/* font cdn */
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

html,
body {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    max-width: 1212px;
    margin: 0 auto;
    padding: 0px 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


.col-3 {
    width: 25%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-4 {
    width: 33.33%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-5 {
    width: 41.66%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-7 {
    width: 58.34%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-8 {
    width: 66.66%;
    padding: 0 15px;
    margin: 0 auto;
}

span {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-clip: text;
    color: transparent;
}

.cmn-top-head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cmn-top-head>div {
    padding: 5px;
    background: linear-gradient(to bottom, #40E193, #B9E310);
    border-radius: 5px;
}

.cmn-top-head>p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;

}

.cmn-head {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.cmn-para {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.cmn-btn {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 34px;
    border-radius: 15px;
    color: #FFFFFF;
    background: linear-gradient(to right, #40E193, #9EC30C);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.cmn-btn::after,
.ques-left>div>a::after,
.service-card>a::after,
.left-location>div>a::after,
.plan-card>a::after,
.client-card>a::after {
    content: "";
    background: #a8cf09;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.cmn-btn:hover::after,
.ques-left>div>a:hover::after,
.service-card>a:hover::after,
.left-location>div>a:hover::after,
.plan-card>a:hover::after,
.client-card>a:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* navbar */
.top-nav {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-color: rgba(0, 0, 0, .1);
    padding: 10px 0px;
    position: relative;
    background-blend-mode: overlay;
}

.top-nav-left {
    display: flex;
    align-items: center;
    gap: 22px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.top-nav-left>a {
    display: flex;
    align-items: center;
    gap: 11px;
}

.top-nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

.top-nav-right>p>i {
    font-size: 12px;
}

.top-nav-right>a {
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.top-nav-right>a::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5px;
    right: 5px;
    bottom: 10px;
    top: 5px;
    width: 60%;
    transform: scale(1, 0);
    transition: all 0.3s ease-in-out
}

.top-nav-right>a:hover::after {
    transform: scale(1, 1);
    height: 63%;
    border-radius: 10px;
}

.top-nav-main,
.nav-main,
.nav-content>ul,
.nav-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-bottom {
    background-color: rgba(0, 0, 0, .4);
    padding-top: 30px;
    padding-bottom: 21px;
    position: absolute;
    top: 44px;
    right: 0px;
    left: 0px;
}

.logo {
    max-width: 211px;
    height: fit-content;
}

.logo>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hamberger,
.close-bar {
    color: #9EC30C;
    font-size: 30px;
    display: none;
}

.nav-content {
    gap: 100px;
}

.nav-content>ul {
    gap: 46px;
}

.nav-btn {
    gap: 30px;
}

.nav-content>ul>li {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.nav-content>ul>li>a:hover {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-clip: text;
    color: transparent;
    transform: rotateX(10deg) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.top-nav-left>a,
.top-nav-left>p,
.top-nav-right>p,
.nav-content>ul>li>a,
.nav-btn>a {
    color: #FFFFFF;
}

.nav-btn>a:nth-child(3) {
    padding: 9px 27px;
    border-radius: 10px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    z-index: 2;
    overflow: hidden;
    position: relative;
}

.nav-btn>a:nth-child(3)::after {
    content: "";
    background: #a8cf09;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.nav-btn>a:nth-child(3):hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* banner section */

.banner-sec {
    background: url("../img/banner-bg.png") no-repeat center/cover;
    padding-top: 210px;
    padding-bottom: 169px;
    min-height: 96vh;
}

.banner-main>span {
    color: #FFFFFF;
}

.banner-main>h1 {
    font-family: "alatsi", sans-serif;
    font-size: 68px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 750px;
    margin-top: 10px;
}

.banner-main>p {
    font-family: "alatsi", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 678px;
    margin-top: 20px;
    margin-bottom: 46px;
}

.banner-main>a {
    display: inline-block;
    font-family: "alatsi", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 12px 53px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 13px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.banner-main>a::after {
    content: "";
    background: #a8cf09;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.banner-main>a:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* about sec */
.about-sec {
    padding-top: 87px;
    padding-bottom: 107px;
    background: url("../img/about-bg.png") no-repeat center/cover;
}

.about-left {
    position: relative;
    justify-items: center;
    font-family: "Montserrat", sans-serif;
}

.about-left>div:first-child {
    display: flex;
    align-items: center;
    gap: 9px;
    max-width: 209px;
    margin: 0 auto;
}

.about-left>div:first-child>h3 {
    font-size: 58px;
    font-weight: 400;
    background: linear-gradient(to bottom, #40E193, #B9E310);
    background-clip: text;
    color: transparent;
}

.about-left>div:first-child>p {
    max-width: 114px;
    font-size: 22px;
    font-weight: 400;
}

.about-img {
    max-width: 392px;
    height: fit-content;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.about-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-left>div:nth-child(3) {
    width: 370px;
    height: 342px;
    background: linear-gradient(to top, #9EC30C, #40E193);
    position: absolute;
    top: 133px;
    left: 150px;
    z-index: -1;
    border-radius: 10px;
}

.about-left>div:nth-child(4) {
    width: 104px;
    height: 80px;
    background: linear-gradient(to top, #9EC30C, #40E193);
    border-radius: 50px 20px 20px 50px;
    position: absolute;
    top: 42px;
    left: 47px;
    z-index: -1;
}

.about-left>a {
    position: absolute;
    max-width: 71px;
    height: fit-content;
    bottom: -43px;
    right: 196px;
}

.about-left>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-right>.cmn-top-head>p {
    color: #000000;
}

.about-right>h2 {
    margin-top: 36px;
    margin-bottom: 32px;
    max-width: 448px;
}

.about-right>p {
    max-width: 596px;
}

.about-service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 40px;
    row-gap: 5px;
}

.about-service>div {
    width: 288px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* service sec */

.service-sec {
    padding-top: 83px;
    padding-bottom: 105px;
}


.service-top {
    text-align: center;
    justify-items: center;
}

.service-top>.cmn-top-head>p {
    color: #000000;
}

.service-top>h2 {
    max-width: 698px;
    margin-top: 49px;
}

.service-top>p {
    max-width: 692px;
    margin-top: 23px;
    margin-bottom: 61px;
}

.service-card {
    padding: 10px 18px 38px 17px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat", sans-serif;
    z-index: 0;
}

.top-serv-card>h3 {
    font-size: 72px;
    font-weight: 400;
    background: linear-gradient(to top, #9EC30C, #40E193);
    background-clip: text;
    color: transparent;
    position: relative;
}

.top-serv-card>img {
    z-index: 3;
}

.top-serv-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}


.service-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -76px;
    right: -86px;
    background: linear-gradient(to top, #9EC30C, #40E193);
    height: 208px;
    width: 208px;
    border-radius: 102px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
}

.service-card:hover:before {
    transform: scale(5);
}

.service-card:hover h3 {
    background: linear-gradient(to top, #e3e4e1, #2f302f);
    background-clip: text;
    color: transparent;
    position: relative;
    transition: transform 0.55s ease-out;
}

.service-card>h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.service-card>p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 18px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.service-card:hover p {
    color: #FFFFFF !important;
    transition: transform 0.55s ease-out;
}

.service-card:hover h4 {
    color: #FFFFFF !important;
    transition: transform 0.55s ease-out;
}

.service-card>a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 10px;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.service-card>a:hover {
    transform: rotateX(10deg) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.service-bottom>div>div:nth-child(2),
.service-bottom>div>div:nth-child(3) {
    transform: translateY(50px);
}

.service-bottom {
    justify-items: center;
}

.service-bottom>a {
    margin-top: 105px;
}

/* achive sec */

.achive-sec {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-color: rgba(0, 0, 0, .5);
    padding-top: 87px;
    padding-bottom: 103px;
    background-blend-mode: overlay;
}

.achive-main {
    display: flex;
    align-items: center;
    gap: 17px;
}

.achive-main>div {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

.achive-main>div>h2 {
    font-size: 48px;
    font-weight: 700;
}

.achive-main>div>p {
    font-size: 18px;
    font-weight: 400;
}

/* choose sec */

.choose-sec {
    padding-top: 96px;
    padding-bottom: 110px;
    font-family: "Montserrat", sans-serif;
}

.choose-left>h2 {
    max-width: 574px;
    margin-top: 36px;
}

.choose-left>p {
    max-width: 576px;
    margin-top: 43px;
    margin-bottom: 38px;
}

.video-btn>a {
    display: flex;
    align-items: center;
    gap: 26px;
}

.video-btn>a>div {
    max-width: 71px;
    height: fit-content;
}

.video-btn>a>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-btn>p {
    font-size: 20px;
    font-weight: 600;
}


.choose-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.choose-right>div>div {
    text-align: center;
    padding: 37px 17px 30px 17px;
    border-radius: 12px;
    box-shadow: 0px 0px 7.3px 0px rgba(0, 0, 0, 0.25);
    animation: zoomInOut 7s ease-in-out infinite;
    transform-origin: center;
    transition: transform 6s ease;
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

.choose-right>div>div>h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.choose-right>div>div>p {
    max-width: 186px;
    font-size: 14px;
    font-weight: 400;
}

.choose-right>div:first-child {
    margin-top: 50px;
}

.card-1,
.card-2 {
    margin-bottom: 25px;
}

.card-1,
.card-4 {
    background: linear-gradient(to right bottom, #40E193, #9EC30C);
}

.video-btn>a>p:hover {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-clip: text;
    color: transparent;
}

/* booking -sec */

.booking-sec {
    background: url("../img/booking-bg.png") no-repeat center/cover;
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: "Montserrat", sans-serif;
}

.booking-left>h2 {
    max-width: 501px;
    color: #FFFFFF;
}

.booking-left>p {
    max-width: 539px;
    margin-top: 22px;
    margin-bottom: 45px;
    color: #FFFFFF;
}

.booking-left>div>div>img {
    max-width: 65px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px #B9E310;
}

.booking-left>div>div {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.booking-left>div>div>div>h3 {
    background: linear-gradient(to right, #40E193, #B9E310);
    background-clip: text;
    color: transparent;
    font-size: 18px;
    font-weight: 600;
    max-width: 210px;
}

.booking-left>div>div>div>p {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    max-width: 259px;
    margin-top: 6px;
}

.booking-left>div {
    position: relative;
}

.booking-left>div>img {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 1;
}

.booking-card>h4 {
    font-size: 30px;
    font-weight: 500;
}

.booking-card>div {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
}

.booking-card {
    padding: 32px 33px 36px 37px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.booking-card>div>input {
    background-color: #F5F5F5;
    width: 100%;
    height: 52px;
    border: 1px solid #F5F5F5;
    outline: none;
    padding: 17px 32px;
}

.booking-card>div>a {
    display: inline-block;
    padding: 17px 34px;
    background-color: #B9E310;
    color: #000000;
    margin: 0 auto;
}

.submit-btm>a {
    display: inline-block;
    padding: 14px 80px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    color: #FFFFFF;
    margin: 0 auto;
}

.booking-card>div>input,
.booking-card>div>a {
    font-size: 15px;
    font-weight: 400;
    border-radius: 15px;
}

.booking-card>p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 30px;
}

.booking-card>p>span {
    color: #E33131;
}

.booking-card>div>div>p,
.booking-card>div>div>label {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.booking-card>div>div>label {
    display: flex;
    align-items: center;
    gap: 10px;
}



/* proces sec */
.process-sec {
    padding-top: 120px;
    padding-bottom: 167px;
}

.process-top {
    justify-items: center;
    text-align: center;
    margin-bottom: 63px;
}

.process-top>h2 {
    margin-top: 26px;
}

.proces-card>div>div>img {
    position: absolute;
    top: 42px;
    left: 40px;
}

.proces-card>div>div {
    width: 128px;
    height: 128px;
    background-color: #D9D9D9;
    margin: 8px;
    border-radius: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.proces-card>div {
    position: relative;
    overflow: hidden;
}

.proces-card {
    justify-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 2;
}

.proces-card>div>div>div {
    padding: 18px 18px;
    background-color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    border-radius: 34px;
    position: absolute;
    top: -31px;
    right: -24px;
}

.proces-card>p {
    max-width: 203px;
    font-size: 16px;
    font-weight: 300;
}

.proces-card>h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 27px 0px;
}

.bottom-process {
    position: relative;
}

.bottom-process>img {
    position: absolute;
    top: 60px;
    left: 180px;
    z-index: 1;
}

.bottom-process>div>div:nth-child(2),
.bottom-process>div>div:last-child {
    margin-top: 45px;
}

/* location sec */

.location-sec {
    background: url("../img/location-bg.png") no-repeat center/cover;
    padding-top: 57px;
    padding-bottom: 76px;
    font-family: "Montserrat", sans-serif;
}

.location-sec>div>div {
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.left-location>h2 {
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
}

.location-input {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 50px 0px;
}

.left-location>div>input {
    max-width: 278px;
    height: 54px;
    border-radius: 30px;
    padding: 15px 50px 15px 32px;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    outline: none;
    font-size: 18px;
}

.left-location>div>a {
    display: inline-block;
    padding: 15px 21px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.left-location>h3 {
    font-size: 25px;
    margin-bottom: 27px;
    color: #FFFFFF;
}

.steps-div,
.steps-div>div {
    display: flex;
    align-items: center;
    gap: 26px;
    position: relative;
}

.steps-div>div>p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
}

.steps-div>div>div {
    max-width: 84px;
    height: fit-content;
}

.steps-div>div>div>img:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 23px 24px;
    background-color: #FFFFFF;
    border-radius: 50px;
}

.steps-div>div>div>img:last-child {
    position: absolute;
    top: 0px;
    left: 0px;
}

.right-location>div>div {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 11px 16px 11px 14px;
    background-color: #FFFFFF;
    max-width: 218px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 300;
}

.right-location {
    display: flex;
    align-items: center;
}

/* price plan */

.plan-sec {
    background: url("../img/price-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 175px;
}

.plan-top {
    justify-items: center;
}

.plan-top>h2 {
    max-width: 436px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 32px;
}

.plan-card {
    font-family: "Inter", sans-serif;
    padding: 45px 53px 52px 45px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #000000;
}

.plan-card>h3 {
    font-size: 18px;
    font-weight: 500;
}

.plan-card>p {
    font-size: 15px;
    font-weight: 300;
}

.plan-card>p>i {
    margin-right: 10px;
    color: #9EC30C;
}

.plan-card>p:nth-child(3),
.plan-card>p:nth-child(5) {
    font-size: 17px;
    font-weight: 400;
}

.plan-card>p>span {
    font-size: 40px;
    font-weight: 500;
}

.plan-card>p:nth-child(2) {
    margin: 13px 0px;
    font-weight: 400;
}

.plan-card>p:nth-child(4) {
    font-size: 12px;
    margin: 11px 0px;
}

.plan-card>p:nth-child(5) {
    margin-bottom: 13px;
}

.plan-card>a {
    padding: 11px 25px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 10px;
    margin-top: 23px;
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.bottom-plan>div>:nth-child(2) {
    transform: translateY(54px);
}

/* team sec */

.team-sec {
    background: url("../img/our-team-bg.png") no-repeat center/cover;
    background-color: #131212;
    background-blend-mode: overlay;
    padding-top: 73px;
    padding-bottom: 48px;
}

.team-top {
    text-align: center;
    justify-items: center;
    color: #FFFFFF;
}

.team-top>h2 {
    margin-top: 33px;
    margin-bottom: 16px;
}

.team-top>p {
    max-width: 462px;
    margin-bottom: 136px;
}

.top-team-card {
    max-width: 154px;
    height: fit-content;
    position: absolute;
    top: -90px;
    left: 39px;
}

.top-team-card>img {
    width: 100%;
    height: 100%;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 85px 45px 30px 45px;
    position: relative;
}

.team-card>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.team-card>p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.team-soc {
    padding: 12px 23px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin: 0 auto;

}

.team-soc>a {
    max-width: 22px;
    height: 22px;
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.team-soc>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#swiper1 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 639px;
    text-align: center;
}

#swiper1 {
    width: 100%;
    height: 430px !important;
    overflow: hidden;
}

#swiper-button-prev1,
#swiper-button-next1 {
    top: 96%;
}

#swiper-button-next1 {
    right: 520px;
    color: #F5F5F5;
}

#swiper-button-prev1 {
    left: 520px;
    color: #F5F5F5;
}

#swiper-button-next1:after {
    font-size: 20px;
}

#swiper-button-prev1:after {
    font-size: 20px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 2px;
    background-color: #F5F5F5;

}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 12px;
}

.team-soc>a::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5px;
    right: 5px;
    bottom: 10px;
    top: 5px;
    width: 60%;
    transform: scale(1, 0);
    transition: all 0.3s ease-in-out
}

.team-soc>a:hover::after {
    transform: scale(1, 1);
    height: 65%;
    border-radius: 10px;
}

.facebook::after {
    color: #1877F2;
}

.twitter::after {
    background-color: #1DA1F2;

}

.linkedin::after {
    background-color: blue;

}

/* client revew sec */

.client-sec {
    background: url("../img/Testimonials.png") no-repeat center/cover;
    padding-top: 92px;
    padding-bottom: 137px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow: hidden;
}

.client-sec>div>div {
    justify-content: center;
}

.client-sec>div>h2 {
    max-width: 992px;
    font-size: 150px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    bottom: -58px;
    left: -30px;
}

.client-left>div {
    max-width: 100px;
    height: fit-content;
}

.client-left>div>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.client-left>p {
    max-width: 503px;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.client-left>h3 {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 25px 0px;
}

.client-card {
    padding: 20px 34px 40px 35px;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.client-card>div {
    display: flex;
    align-items: center;
    gap: 22px;
}

.client-card>img {
    position: absolute;
    top: 10px;
    right: 47px;
}

.client-card>div>div>h4 {
    font-size: 20px;
    font-weight: 500;
}

.client-card>div>div>p {
    font-size: 14px;
    font-weight: 400;
}

.client-card>p {
    max-width: 445px;
    margin: 22px 0px;
    font-size: 15px;
    font-weight: 300;
}

.client-card>a {
    display: inline-block;
    padding: 9px 25px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#swiper2 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    text-align: center;
}

#swiper2 {
    width: 100%;
    height: 420px !important;
    overflow: hidden;
}

#swiper-button-prev2,
#swiper-button-next2 {
    top: 96%;
}

#swiper-button-next2 {
    right: 229px;
    color: #F5F5F5;
}

#swiper-button-prev2 {
    left: 237px;
    color: #F5F5F5;
}

#swiper-button-next2:after {
    font-size: 20px;
}

#swiper-button-prev2:after {
    font-size: 20px;
}

/* question sec */

.ques-sec {
    background: url("../img/question-bg.png") no-repeat center/cover;
    padding-top: 99px;
    padding-bottom: 164px;
}

.ques-sec>div {
    justify-items: center;
}

.ques-left>div:first-child {
    background: url("../img/ques-img.png") no-repeat center/cover;
    padding: 81px 100px 67px 38px;
    border-radius: 10px;
    margin-bottom: 34px;
    max-width: 355px;
    height: fit-content;
}

.ques-left>div>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

.ques-left>div>p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 31px;
}

.ques-left>div>a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 9px 18px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.ques-left>div:last-child {
    text-align: center;
    border-radius: 10px;
    padding: 23px 72px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.ques-left>div>h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-top: 19px;
}

.ques-right>h2 {
    margin-top: 50px;
}

.ques-right>p {
    max-width: 660px;
    margin-top: 16px;
    margin-bottom: 23px;
    font-weight: 300;
}

.ques-right>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 696px;
    height: 68px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0px 18px;
    gap: 25px;
    margin-bottom: 20px;

}

.ques-right>div>h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
}

.ques-right>div>i {
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.ques-right>div>i.rotate {
    transform: rotate(90deg);
}


.flip {
    cursor: pointer;
}

.panel {
    display: none;
}

.flip.active {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-clip: text;
    color: transparent;
}

/* app sec */

.app-sec {
    background: url("../img/app-bg.png") no-repeat center/cover;
    position: relative;
    padding: 128px 0px;
}

.app-left>h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    max-width: 719px;
    margin-bottom: 58px;
}

.app-left>div {
    display: flex;
    align-items: center;
    gap: 26px;
}

.app-left>div>a {
    max-width: 203px;
    height: fit-content;
}

.app-left>div>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app-right {
    position: absolute;
    bottom: 75px;
    right: 221px;
    max-width: 271px;
    height: fit-content;
}

.app-right>img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer sec */

.footer-sec {
    background: url("../img/footer-bg.png") no-repeat center/cover;
    background-color: #312D2D;
    background-blend-mode: overlay;
    padding-top: 95px;
    padding-bottom: 71px;
    font-family: "Montserrat", sans-serif;
}

.footer-left>p {
    margin-top: 27px;
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 300;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-left,
.footer-child>a,
.footer-child>p {
    color: #FFFFFF;
}

.social>a {
    max-width: 45px;
    height: 42px;
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.social>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social>a::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 100%;
    bottom: 0px;
    top: auto;
    width: 100%;
    transform: scale(1, 0);
    transition: all 0.3s ease-in-out
}

.social>a:hover::after {
    transform: scale(1, 1);
    height: 100%;
}

.facebook::after {
    background-color: #1877F2;
}

.twitter::after {
    background-color: #1DA1F2;

}

.linkedin::after {
    background-color: blue;

}

.footer-child {
    display: flex;
    flex-direction: column;
}

.footer-child>div {
    width: 27px;
    height: 3px;
    background: linear-gradient(to right, #40E193, #9EC30C);
    margin-bottom: 15px;
}

.footer-child>p {
    font-size: 22px;
    font-weight: 600;
}

.footer-child>a {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-child>a>i {
    padding-right: 8px;
}

.footer-child>a:hover {
    background: linear-gradient(to right, #40E193, #9EC30C);
    background-clip: text;
    color: transparent;
}

/* footeer bottom sec */

.footer-bottom-sec {
    background-color: #000000;
    padding: 21px 0px;
    font-family: "Montserrat", sans-serif;
}

.footer-bottom-main {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.footer-bottom-main>div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-bottom-main>div,
.footer-bottom-main>div>a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
}


@media screen and (max-width:1024px) {

    .col-7 {
        width: 100%;
    }

    .col-5 {
        width: 50%;
    }

    /* navbar */
    .nav-content {
        gap: 40px;
    }

    .nav-content>ul {
        gap: 30px;
    }

    /* about */
    .about-sec {
        padding: 80px 0px;
    }

    .about-left>div:nth-child(3) {
        left: 107px;
    }

    .about-left>div:nth-child(4) {
        left: 3px;
    }

    /* process */
    .bottom-process>img {
        left: 62px;
    }

    /* location */
    .location-input {
        flex-wrap: wrap;
    }

    .steps-div {
        flex-wrap: wrap;
    }

    /* plan */

    .plan-card {
        padding: 40px 29px 46px 29px;
    }

    /* team */
    #swiper-button-prev1 {
        left: 420px;
    }

    #swiper-button-next1 {
        right: 420px;
    }

    #swiper-button-prev1,
    #swiper-button-next1
    /* client */

    #swiper-button-prev2 {
        left: 190px;
    }

    #swiper-button-next2 {
        right: 190px;
    }

    /* app */

    .app-left>h2 {
        font-size: 43px;
    }

    .app-right {
        right: 40px;
        max-width: 258px;
    }
}

@media screen and (max-width:997px) {

    .cmn-head {
        font-size: 30px;
    }

    .cmn-para {
        font-size: 16px;
    }

    .cmn-top-head>p {
        font-size: 20px;
    }

    .cmn-btn {
        font-size: 15px;
    }

    .col-3 {
        width: 50%;
    }

    .col-4 {
        width: 40%;
    }


    .col-6 {
        width: 70%;
    }

    .col-7 {
        width: 70%;
    }

    .col-8 {
        width: 80%;
    }


    /* nav */
    .nav-sec {
        position: relative;
    }

    .top-nav-main {
        font-family: "Montserrat", sans-serif;
        flex-direction: column;
        gap: 5px;
    }

    .top-nav-left,
    .top-nav-right>a {
        font-size: 12px;
    }

    .nav-bottom {
        top: 67px;
        padding: 14px 0px 10px 0px;
    }

    .nav-content,
    .nav-content>ul,
    .nav-btn {
        flex-direction: column;
    }

    .nav-btn {
        margin-top: 20px;
    }

    .nav-content {
        display: flex;
        padding-top: 89px;
        padding-bottom: 154px;
        background-color: #000000;
        gap: 15px;
        position: absolute;
        width: 0;
        top: -1px;
        right: 0px;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 100;
        height: 96vh;
    }

    .hamberger,
    .close-bar {
        display: flex;
    }

    .close-bar {
        position: absolute;
        top: 30px;
        right: 459px;
        z-index: 1;
        color: #9EC30C;
    }

    /* banner */

    .banner-sec {
        padding-top: 182px;
        padding-bottom: 40px;
        min-height: 96vh;
    }

    .banner-main>h1 {
        font-size: 58px;
    }

    .banner-main>p {
        font-size: 25px;
    }

    .banner-main>a {
        font-size: 20px;
    }

    /* about */

    .about-sec>div>div {
        align-items: center;
        flex-direction: column;
        gap: 80px;
    }

    .about-left>div:nth-child(3) {
        top: 137px;
        left: 193px;
    }

    .about-left>div:nth-child(4) {
        left: 90px;
    }

    .about-left>a {
        right: 204px;
    }

    .about-right {
        text-align: center;
        justify-items: center;
        margin: 0 auto;
    }

    .about-service {
        justify-content: center;
    }

    .about-service>div,
    .about-service>div>img {
        font-size: 13px;
    }

    /* service sec*/

    .service-sec {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .service-bottom>div>div:nth-child(2),
    .service-bottom>div>div:nth-child(3) {
        transform: translateY(0px);
    }

    .top-serv-card>h3 {
        font-size: 63px;
    }

    .top-serv-card {
        margin-bottom: 28px;
    }

    .service-bottom>div {
        row-gap: 20px;
    }

    .service-bottom>a {
        margin-top: 65px;
    }

    /* achive sec */
    .achive-sec {
        padding: 40px 0px;
    }

    .achive-sec>div>div {
        row-gap: 25px;
    }

    .achive-main>div>h2 {
        font-size: 38px;
    }

    .achive-main>div>p {
        font-size: 15px;
    }

    /* choose sec */

    .choose-sec {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .choose-sec>div>div {
        justify-content: center;
        gap: 25px;
    }

    .choose-left {
        text-align: center;
        justify-items: center;
    }

    .choose-left>p {
        margin: 30px 0px;
    }

    .video-btn>img {
        max-width: 50px;
    }

    .choose-right {
        justify-content: center;
    }

    .choose-right>div:first-child {
        margin-top: 0px;
    }

    /* booking sec */

    .booking-sec>div>div {
        justify-content: center;
    }

    .booking-left {
        justify-items: center;
    }

    .booking-left>h2,
    .booking-left>p {
        text-align: center;
    }

    .booking-card>h4 {
        font-size: 25px;
    }


    /* process sec */

    .process-sec {
        padding: 80px 0px;
    }

    .proces-card>h3 {
        font-size: 20px;
        margin: 15px 0px;
    }

    .proces-card>p {
        font-size: 14px;
    }

    .bottom-process>img {
        display: none;
    }

    .bottom-process>div {
        row-gap: 50px;
    }

    .bottom-process>div>div:nth-child(2),
    .bottom-process>div>div:last-child {
        margin-top: 0px;
    }


    /* location sec */
    .location-sec>div>div {
        flex-direction: column;
        gap: 30px;
    }

    .left-location>h2 {
        font-size: 30px;
    }

    .left-location>div>a,
    .left-location>div>input {
        font-size: 14px;
    }

    .left-location>h2,
    .left-location>h3 {
        text-align: center;
    }

    .right-location>div>div {
        width: 218px;
        font-size: 11px;
    }

    .steps-div>div>p {
        font-size: 20px;
    }

    /* price plan sec */

    .plan-sec {
        padding: 90px 0px;
    }

    .bottom-plan>div>:nth-child(2) {
        transform: translateY(0px);
    }

    .bottom-plan>div {
        row-gap: 30px;
        justify-content: center;
    }

    /* team sec */

    .team-card>p {
        margin: 10px 0px;
    }

    .team-top>p {
        margin-bottom: 65px;
    }

    .swiper-pagination {
        bottom: 34px !important;
    }

    #swiper-button-prev1 {
        left: 410px;
    }

    #swiper-button-next1 {
        right: 410px;
    }

    #swiper-button-prev1,
    #swiper-button-next1 {
        top: 91%;
    }

    #swiper-button-prev1:after,
    #swiper-button-next1:after {
        font-size: 15px;
    }


    /* client sec */
    .client-sec>div>h2 {
        font-size: 130px;
        bottom: -50px;
        left: -23px;
    }

    #swiper-button-prev2 {
        left: 280px;
    }

    #swiper-button-next2 {
        right: 280px;
    }

    #swiper-button-prev2,
    #swiper-button-next2 {
        top: 91%;
    }

    #swiper-button-prev2:after,
    #swiper-button-next2:after {
        font-size: 15px;
    }

    /* question left */

    .ques-sec {
        padding-top: 80px;
        padding-bottom: 42px;
    }

    .ques-sec>div>div:last-child {
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }

    .ques-left>div>h3 {
        font-size: 30px;
    }

    .ques-right>h2 {
        text-align: center;
    }

    /* app */

    .app-sec {
        padding: 50px 0px;
    }

    .app-sec>div>div {
        row-gap: 20px;
    }

    .app-left {
        justify-items: center;
    }

    .app-left>h2 {
        text-align: center;
        font-size: 33px;
        margin-bottom: 35px;
    }

    .app-left>div>a {
        max-width: 170px;
    }

    .app-right {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        max-width: 206px;
    }

    /* footer sec */

    .footer-sec>div>div {
        row-gap: 30px;
    }

    .footer-bottom-main>div,
    .footer-bottom-main>div>a {
        font-size: 17px;
    }

}

@media screen and (max-width:768px) {


    /* navbar */

    .nav-content>ul {
        gap: 18px;
    }

    .nav-content {
        padding-bottom: 195px;
        top: 0px;
    }

    .nav-content>ul>li {
        font-size: 14px;
    }

    .logo {
        max-width: 145px;
    }

    .nav-bottom {
        top: 59px;
        padding: 10px 0px 7px 0px;
    }

    .hamberger,
    .close-bar {
        font-size: 24px;
        right: 343px;
    }

    .top-nav-right>a>img {
        width: 15px;
        height: 15px;
    }

    .top-nav-left {
        gap: 12px;
    }

    .nav-btn {
        gap: 20px;
        font-size: 12px;
    }

    /* banner sec */


    .banner-main>h1 {
        font-size: 48px;
    }


    .banner-main>p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .banner-main>a {
        padding: 10px 30px;
        font-size: 14px;
    }


    /* about sec */

    .about-sec {
        padding: 40px 0px;
    }

    .about-right>h2 {
        margin: 20px 0px;
    }

    .about-left>div:nth-child(3) {
        top: 130px;
        left: 121px;
    }

    .about-left>a {
        right: 120px;
    }

    .about-left>div:nth-child(4) {
        left: 8px;
        top: 29px;
    }

    .about-left>div:first-child>h3 {
        font-size: 50px
    }

    .about-left>div:first-child>p {
        font-size: 17px;
    }

    .about-service {
        margin-bottom: 27px;
    }

    .about-service>div,
    .about-service>div>img {
        max-width: 254px;
    }


    /* service sec */

    .service-sec {
        padding-top: 30px;
        padding-bottom: 55px;
    }

    .service-top>h2 {
        max-width: 698px;
        margin-top: 22px;
    }

    .service-top>p {
        margin-bottom: 35px;
    }

    .service-card>a {
        font-size: 10px;
    }

    .service-bottom>a {
        margin-top: 47px;
    }

    .service-bottom>div {
        justify-content: center;
    }

    .top-serv-card>h3 {
        font-size: 45px;
    }

    .service-card>p {
        font-size: 10px;
    }

    .service-card>h4 {
        font-size: 14px;
    }

    .service-card:before {
        height: 168px;
        width: 192px;
    }

    /* achive */

    .achive-main {
        justify-content: center;
    }

    .achive-main>div>h2 {
        font-size: 30px;
    }

    .achive-main>div>p {
        font-size: 13px;
    }

    /* choose */

    .choose-left>h2 {
        margin-top: 22px;
    }

    .choose-left>p {
        margin: 18px 0px;
    }

    .video-btn>a>p {
        font-size: 14px;
    }

    .video-btn>a>div {
        max-width: 60px;
    }

    .choose-right>div>div>p {
        font-size: 12px;
    }

    .choose-right>div>div>h3 {
        font-size: 16px;
    }

    /* booking */

    .booking-card>h4 {
        font-size: 21px;
    }

    .booking-card>div>a {
        padding: 10px 20px;
    }


    .booking-card>div>input {
        height: 42px;
        padding: 5px 11px;
    }

    .booking-card>div>input,
    .booking-card>div>a {
        font-size: 13px;
    }

    .booking-card>div>div>p {
        font-size: 13px;
    }

    .booking-card>p {
        font-size: 11px;
    }

    /* process */

    .process-sec {
        padding: 55px 0px;
    }

    .proces-card>div>div>div {
        font-size: 22px;
    }

    .bottom-process>div {
        justify-content: center;
    }

    .proces-card>h3 {
        font-size: 17px;
        margin: 11px 0px;
    }

    .proces-card>p {
        font-size: 12px;
    }


    /* location */
    .location-sec {
        padding-top: 43px;
        padding-bottom: 50px;
    }

    .left-location>h2 {
        font-size: 25px;
    }

    .location-input {
        flex-direction: column;
    }


    .left-location>div>a,
    .left-location>div>input {
        font-size: 14px;
    }

    .left-location>div>input {
        height: 41px;
        padding: 8px 47px 9px 21px;
        ;
    }

    .location-input {
        margin: 33px 0px;
    }

    .left-location>h3 {
        font-size: 19px;
    }

    .steps-div>div>div>img:first-child {
        padding: 14px 16px;
    }

    /* plan */

    .plan-sec {
        padding: 70px 0px;
    }

    .plan-top>h2 {
        margin-top: 30px;
    }

    .plan-card {
        padding: 15px 15px 20px 15px;
    }

    .plan-card>h3 {
        font-size: 16px;
    }

    .plan-card>p>span {
        font-size: 33px;
    }

    .plan-card>p:nth-child(3),
    .plan-card>p:nth-child(5) {
        font-size: 14px;
    }

    .plan-card>p:nth-child(4) {
        font-size: 11px;
    }

    .plan-card>p {
        font-size: 12px;
    }

    .plan-card>a {
        font-size: 12px;
    }

    /* team */

    .team-sec {
        padding-top: 55px;
        padding-bottom: 12px;
    }

    .team-top>h2 {
        margin-top: 22px;
    }

    #swiper-button-prev1 {
        left: 290px;
    }

    #swiper-button-next1 {
        right: 290px;
    }


    /* cient */

    .client-sec {
        padding-top: 47px;
        padding-bottom: 60px;
    }

    .client-left>p {
        font-size: 16px;
    }

    .client-left>h3 {
        font-size: 25px;
        margin: 12px 0px;
    }

    .client-card>img {
        right: 23px;
    }

    .client-card>p {
        font-size: 12px;
    }

    .client-sec>div>h2 {
        font-size: 92px;
        bottom: -34px;
        left: -15px;
    }

    .client-card>div>div>h4 {
        font-size: 17px;
    }

    #swiper-button-prev2 {
        left: 200px;
    }

    #swiper-button-next2 {
        right: 200px;
    }

    /* question */
    .col-4 {
        width: 46%;
    }

    .ques-right>div {
        height: 43px;
    }

    .ques-right>div>i {
        font-size: 11px;
    }

    .ques-right>div>h4 {
        font-size: 17px;
    }

    .ques-right>p {
        margin-top: 16px;
    }

    /* app */

    .app-left>h2 {
        font-size: 27px;
    }

    /* footer */

    .footer-sec {
        padding-top: 54px;
        padding-bottom: 36px;
    }

    .footer-sec>div>div>div {
        width: 50%;
    }

    .footer-left>p {
        font-size: 12px;
        margin-top: 19px;
    }

    .footer-child>a {
        font-size: 13px;
    }

    .footer-child>p {
        font-size: 17px;
    }

    .footer-bottom-main>div,
    .footer-bottom-main>div>a {
        font-size: 13px;
    }

}

@media screen and (max-width:510px) {

    .cmn-head {
        font-size: 20px;
    }

    .cmn-para {
        font-size: 9px;
        line-height: 16px;
    }

    .cmn-btn {
        font-size: 9px;
        padding: 12px 28px;
    }

    .cmn-top-head>p {
        font-size: 17px;
    }

    .col-3,
    .col-6 {
        width: 100%;
    }

    .col-4 {
        width: 90%;
    }

    .col-5 {
        width: 70%;
    }

    /* navbar */

    .top-nav-left {
        font-size: 9px;
    }

    .top-nav-right>a,
    .top-nav-right {
        font-size: 10px;
    }

    .nav-bottom {
        top: 54px;
        padding: 5px 0px 5px 0px;
    }

    .hamberger,
    .close-bar {
        font-size: 20px;
        right: 353px;
    }

    .nav-content {
        padding-bottom: 241px;
    }

    .nav-content>ul {
        gap: 15px;
    }

    .nav-content>ul>li {
        font-size: 11px;
    }

    .nav-btn {
        margin-top: 15px;
        gap: 15px;
    }

    /* banner */
    .banner-sec {
        padding-top: 150px;
    }

    .banner-main>h1 {
        font-size: 35px;
    }

    .banner-main>p {
        font-size: 15px;
        margin-bottom: 24px;
    }


    /* about */

    .about-sec {
        padding-bottom: 28px;
    }

    .about-img {
        max-width: 250px;
    }

    .about-left>div:nth-child(3) {
        top: 99px;
        left: 114px;
        width: 237px;
        height: 237px;

    }

    .about-left>div:nth-child(4) {
        left: 40px;
        top: 44px;
        width: 80px;
        height: 60px;
    }

    .about-left>a {
        right: 90px;
        max-width: 57px;
    }

    .about-left>div:first-child>h3 {
        font-size: 35px;
    }

    .about-left>div:first-child>p {
        font-size: 14px;
    }

    .about-left>div:first-child {
        justify-content: right;
        margin-bottom: 20px;
    }

    .about-service>div {
        font-size: 10px;
        max-width: 198px;
    }

    .about-service>div>img {
        width: 20px;
        height: 20px;
    }

    /* servce */

    .service-sec {
        padding-bottom: 48px;
    }

    /* achive */

    .achive-main>div>h2 {
        font-size: 25px;
    }

    .achive-main>div>p {
        font-size: 11px;
    }

    .achive-main>img {
        width: 60px;
        height: 60px;
    }

    /* choose */

    .video-btn>a>div {
        max-width: 45px;
    }

    .video-btn>a>p {
        font-size: 12px;
    }

    .choose-right {
        flex-direction: column;
    }

    .choose-right>div>div>h3 {
        font-size: 14px;
    }

    .choose-right>div>div>p {
        font-size: 10px;
    }

    /* booking */

    .booking-left>div>img {
        top: 18px;
        left: 24px;
        height: 165px;
    }

    .booking-left>div>div>img {
        max-width: 52px;
    }

    .booking-left>div>div>div>h3 {
        font-size: 14px;
    }

    .booking-left>div>div>div>p {
        font-size: 9px;
    }

    .booking-card>h4 {
        font-size: 15px;
    }

    .booking-card>div {
        flex-direction: column;
    }

    .booking-card>div>input,
    .booking-card>div>a {
        font-size: 10px;
    }

    .booking-card>div>div>p,
    .booking-card>div>div>label {
        font-size: 11px;
    }

    .booking-card>div>div>label {
        gap: 5px;
        justify-content: center;
    }


    .booking-card>p {
        font-size: 9px;
    }

    /* process */

    .proces-card>h3 {
        font-size: 14px;
        margin: 7px 0px;
    }

    .proces-card>p {
        font-size: 9px;
    }

    /* location */

    .left-location>h2 {
        font-size: 17px;
    }

    .left-location>div>a,
    .left-location>div>input {
        font-size: 10px;
    }

    .left-location>div>a {
        padding: 11px 19px;
    }

    .left-location>h3 {
        font-size: 15px;
    }

    .steps-div>div>p {
        font-size: 15px;
    }

    .steps-div>div>div>img:first-child {
        padding: 10px 11px;
    }

    .steps-div>div>div>img:last-child {
        top: -2px;
        left: -6px;
    }

    .steps-div,
    .steps-div>div {
        gap: 15px;
    }

    .right-location>div>div {
        width: 139px;
        font-size: 9px;
    }

    .proces-card>div>div>div {
        font-size: 19px;
    }


    /* plan */

    .plan-card>h3 {
        font-size: 13px;
    }

    .plan-card>p>span {
        font-size: 28px;
    }

    .plan-card>p {
        font-size: 10px;
    }

    .plan-card>p:nth-child(4) {
        font-size: 9px;
    }

    .plan-card>p:nth-child(3),
    .plan-card>p:nth-child(5) {
        font-size: 12px;
    }

    .plan-card>a {
        font-size: 9px;
    }


    /* team */

    .top-team-card {
        max-width: 126px;
        top: -73px;
        left: 44px;
    }

    .team-card {
        padding: 81px 40px 35px 40px;
    }

    .team-card>h3 {
        font-size: 16px;
    }

    .team-card>p {
        font-size: 13px;
    }

    .team-soc {
        padding: 8px 20px;
        gap: 14px
    }

    #swiper-button-prev1 {
        left: 128px;
    }

    #swiper-button-next1 {
        right: 128px;
    }


    /* client */

    .client-left>div {
        max-width: 80px;
    }

    .client-left>p {
        font-size: 11px;
    }

    .client-left>h3 {
        font-size: 19px;
    }

    .client-card>div>div>h4 {
        font-size: 14px;
    }

    .client-card>div>div>p {
        font-size: 10px;
    }

    .client-card>p {
        font-size: 9px;
    }

    .client-card>a {
        font-size: 10px;
    }

    .client-card>img,
    .client-card>div>img {
        width: 60px;
        height: 60px;
    }

    .client-sec>div>h2 {
        font-size: 49px;
        bottom: -17px;
        left: -9px;
    }

    .client-card {
        padding: 20px 19px 20px 18px;
    }

    #swiper-button-prev2 {
        left: 143px;
    }

    #swiper-button-next2 {
        right: 143px;
    }

    /* question  */

    .ques-sec {
        padding-top: 64px;
        padding-bottom: 30px;
    }

    .ques-left>div>h3 {
        font-size: 25px;
    }

    .ques-left>div>p {
        font-size: 10px;
        margin-bottom: 22px;
    }

    .ques-left>div>a {
        font-size: 9px;
    }

    .ques-left>div:first-child {
        padding: 62px 70px 56px 32px;
    }

    .ques-left>div>h4 {
        font-size: 16px;
        margin-top: 14px;
    }

    .ques-right>div>h4 {
        font-size: 11px;
    }

    .ques-right>div {
        height: 36px;
    }

    .ques-right>div>i {
        font-size: 9px;
    }

    .ques-right>p {
        margin-top: 9px;
        margin-bottom: 26px;
    }

    /* app */

    .app-left>h2 {
        font-size: 21px;
    }

    .app-right {
        max-width: 144px;
    }

    /* footer */

    .footer-sec {
        padding-top: 46px;
        padding-bottom: 33px;
    }

    .footer-left>p {
        font-size: 9px;
        margin-top: 15px;
    }

    .footer-child>p {
        font-size: 13px;
    }

    .footer-child>a {
        font-size: 10px;
    }

    .footer-bottom-main {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

@media screen and (max-width:380px) {

    .cmn-head {
        font-size: 17px;
    }

    .cmn-top-head>p {
        font-size: 14px;
    }

    /* navbar */

    .top-nav-right>a,
    .top-nav-right {
        font-size: 9px;
    }

    .nav-bottom {
        top: 54px;
    }

    .nav-content>ul>li {
        font-size: 9px;
    }

    .nav-content {
        padding-bottom: 268px;
        width: 0;
    }

    .close-bar {
        right: 327px;
    }

    .nav-btn {
        font-size: 11px;
    }

    /* banner */

    .banner-main>h1 {
        font-size: 31px;
    }

    .banner-main>p {
        font-size: 13px;
    }

    /* about */

    .about-img {
        max-width: 227px;
    }

    .about-left>div:nth-child(3) {
        top: 96px;
        left: 87px;
        width: 227px;
        height: 210px;
    }

    .about-left>div:nth-child(4) {
        left: 26px;
    }

    .about-service>div {
        max-width: 184px;
    }


    /* location */

    .right-location>div>div {
        padding: 11px 7px 11px 5px;
        width: 100%;
    }

    /* team */

    #swiper-button-prev1 {
        left: 100px;
    }

    #swiper-button-next1 {
        right: 100px;
    }

    /* client */

    #swiper-button-prev2 {
        left: 123px;
    }

    #swiper-button-next2 {
        right: 123px;
    }

    /* app */

    .app-sec {
        padding: 30px;
    }

    .app-left>h2 {
        font-size: 17px;
    }

    .app-right {
        max-width: 126px;
    }

}

@media screen and (max-width:320px) {

    /* nav */
    .top-nav {
        padding: 4px 0px;
    }

    .nav-bottom {
        top: 51px;
    }

    .close-bar {
        right: 273px;
    }

    /* about */
    .about-left>div:nth-child(3) {
        top: 96px;
        left: 62px;
    }

    .about-left>div:nth-child(4) {
        left: 4px;
    }

    /* team */

    #swiper-button-prev1 {
        left: 75px;
    }

    #swiper-button-next1 {
        right: 75px;
    }

    /* client */

    #swiper-button-prev2 {
        left: 97px;
    }

    #swiper-button-next2 {
        right: 97px;
    }
}